<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoveDAO">

	<!-- love 테이블에 대한 SQL 구문 작성 -->

	<insert id="insertLove" parameterType="LoveVO">
		INSERT INTO love
		VALUES (#{love_id}, #{love_user}, #{love_property})
	</insert>
	
	<select id="getLove" parameterType="java.util.Map" resultType="LoveVO">
		SELECT *
		FROM love
		WHERE love_user = #{love_user}
		AND love_property = #{love_property}
	</select>
	
	<delete id="deleteLove" parameterType="int">
		DELETE FROM love
		WHERE love_id = #{love_id}
	</delete>
	
	<select id="getLoveCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM love
		WHERE love_property = #{property_id}
	</select>
</mapper>