<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="UserDAO">
	
	<!-- user 테이블에 대한 SQL 구문 작성 -->
	
	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO user (user_email, user_pass, user_name, user_level)
		VALUES (#{user_email}, #{user_pass}, ${user_name}, ${user_level})			
	</insert>
	
	<select id="duplicateCheck" parameterType="String">
		SELECT count(*)
		FROM user
		WHERE #{key} = #{value}
	</select>	
	
	<!-- validateUser() 없음, 이메일로 getUser()로 vo 가져와서 vo.user_pass 확인 -->
	
	<select id="getUser" resultType="UserVO" parameterType="String">
		SELECT *
		FROM user
		WHERE user_email = #{user_email}
	</select>	
	
	<update id="updateUserColumn" parameterType="java.util.Map">
		UPDATE user
		<choose>
			<when test="value == 'Timestamp'">
				SET #{key} = now()
			</when>
			<otherwise>
				SET #{key} = #{value}
			</otherwise>
		</choose>			
		WHERE user_email = #{user_email}
	</update>
	
	<update id="updateUserProfileWithPhoto" parameterType="UserVO">
		UPDATE user
		SET user_name = #{user_name}, user_company = #{user_company}, user_address = #{user_address},  
			user_telephone = #{user_telephone}, user_mobile = #{user_mobile}, user_photo = #{user_photo}, 
			user_about = #{user_about}, user_fb = #{user_fb}, user_ig = #{user_ig}, user_tw = #{user_tw},  
			user_interest_city = #{user_interest_city}, user_interest_category = #{user_interest_category}, user_interest_type = #{user_interest_type}
		WHERE user_email = #{user_email}
	</update>
	
	<update id="updateUserProfile" parameterType="UserVO">
		UPDATE user
		SET user_name = #{user_name}, user_company = #{user_company}, user_address = #{user_address},  
			user_telephone = #{user_telephone}, user_mobile = #{user_mobile},
			user_about = #{user_about}, user_fb = #{user_fb}, user_ig = #{user_ig}, user_tw = #{user_tw},  
			user_interest_city = #{user_interest_city}, user_interest_category = #{user_interest_category}, user_interest_type = #{user_interest_type}
		WHERE user_email = #{user_email}
	</update>
	
	<select id="getUserPropertyCount" parameterType="String">
		SELECT count(*)
		FROM user u JOIN property p
		ON u.user_email = p.property_user
		AND user_email = #{user_email}
	</select>
	
	<delete id="deleteUser" parameterType="String">
		DELETE FROM user
		WHERE user_email = #{user_email}
	</delete>
	
	<select id="getUserList" resultType="UserVO">
		SELECT *
		FROM user
	</select>
	
	<select id="getPopularUserList" resultType="UserVO">
		SELECT *
		FROM user
		ORDER BY user_sold_count DESC
	</select>
	
	<update id="updateUserSoldCount" parameterType="String">
		UPDATE user
		SET user_sold_count = #{count}
		WHERE user_email = #{user_email} 
	</update>	
</mapper>